@use '../global/' as global;


.news {
  padding-top: 57px;
  padding-bottom: 60px;
}

.news__inner {

}

.news__ttl {

}

.news__body {
  margin-top: 30px;
}

.news__menu {

}

.news__content {
  margin-top: 42px;
}