@use '../global/' as global;


.recommended {
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 140px;
}

.recommended__inner {

}

.recommended__ttl {
}

.recommended__list {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include global.mq('tab') {
    flex-direction: column;
    align-items: center;
  }
}

.recommended__item {
  width: calc(330 / 1180 * 100%);

  @include global.mq('tab') {
    width: 100%;
    max-width: 700px;

    & + & {
      margin-top: 50px;
    }
  }
}