// ============================================================
// Color
// ============================================================
// ----- Site Color -----
$color-main: #21A937;

// ----- Back Ground Color -----
$color-bg-base: #FFFFFF;

// ----- Text Color -----
$color-txt-base: #444444;


// ============================================================
// Font
// ============================================================
// ----- Font Family -----
$font-base: 'Noto Sans JP', sans-serif;

// ----- Font Size -----
$font-size-base: 16px;

// ----- Font Weight -----
$font-weight-base: 400;
$font-weight-bold: 700;

// ----- Font Line Height -----
$line-height-base: 1.6;


// ============================================================
// BreakPoint
// ============================================================
$break-point-lg: 992px;
$break-point-md: 768px;

// ============================================================
// Layout
// ============================================================
// ----- Container -----
$layout-width-header: 1180px;
$layout-width-container: 1180px;
$layout-width-footer: 1180px;

// ----- Width -----
$layout-width-inner-pc: 1180px;
$layout-width-inner-sp: 768px;

// ----- Height -----
$layout-height-header-pc: 130px;
$layout-height-header-sp: 200px;

// ----- Padding -----
$layout-padding-side-pc: 40px;
$layout-padding-side-sp: 16px;
